body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a, a:active{
  color: inherit;
}
.ace_editor{
  position: absolute !important;
  width: 100% !important;
  height: calc(100% - 86px) !important;
}
.codeshare{
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
}
.codeshare__status{
  margin: 0;
  padding: 0 20px;
  padding-bottom: 10px;
  background-color: #30353e;
  color: #fff;
  font-size: 12px; 
  border-bottom: 1px solid #b3b5b8;
}
.header .button,.menu .button{
  margin-left: 5px;
}
.flex{
  display: flex;
  padding: inherit;
}
.flex--center-y{
  align-items: center;
}
.flex--center-x{
  justify-content: center;
}
.flex--right{
  justify-content: flex-end;
  align-items: center;
}
.block--abs{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}
.block--rel{
  position: relative;
}
