.header{
  background-color: #30353e;
  border-bottom: 1px solid #b3b5b8;
  color: #fff;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
}
.header__title{
  font-weight: bold;
  font-size: 24px;
}